clouds:
  {{ cloud }}:
    auth_type: "v3applicationcredential"
    auth:
      application_credential_id: {{ app_cred.application_credential.id }}
      application_credential_secret: {{ app_cred.application_credential.secret }}
